{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 13,
    "requireConfigFile": false,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "extends": ["plugin:lit/recommended"],
  "plugins": ["lit"],
  "rules": {
    "lit/no-legacy-template-syntax": "error",
    "lit/no-template-arrow": "warn"
  }
}
